@model PagedList.IPagedList<blankspaces.Models.MATERIALBIBLIOGRAFICO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ingresar material", "Crear")
</p>
@*Este es el codigo en el index para el boton de busqueda*@
@using (Html.BeginForm("Index", "Material", FormMethod.Get))
{
    <p>
        Busqueda:@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />

    </p>
}
<a href="Material">Todos los Registros</a>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Autor", "Index", new { sortOrder = ViewBag.AutorSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            EDITORIAL
        </th>

        <th>
            VOLUMEN
        </th>
        <th>
            UNIDADES
        </th>


        <th>
            TIPO DE DOCUMENTO
        </th>

        <th>
            CATEGORIA
        </th>

        <th>
            SUBCATEGORIA
        </th>

        <th>
            IMAGEN  
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AUTOR.NOMBRE)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.EDITORIAL)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.VOLUMEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNIDADES)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.TIPODOCUMENTO.TIPODOCUMENTO1)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.CATERGORIA.NOMCAT)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SUBCATEGORIA.NOMBRE)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SUBCATEGORIA.NOMBRE)


        </td>

       

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDMATBIBLIO }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDMATBIBLIO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDMATBIBLIO })
            </td>

       
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.currentSort, currentFilter = ViewBag.CurrentFilter }))
