@model blankspaces.Models.SUBCATEGORIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SUBCATEGORIA</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            SUBCATEGORIA
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDSUBCATEGORIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            CATEGORIA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATERGORIA.IDCATEGORIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDSUBCATEGORIA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
